<a href="https://colab.research.google.com/github/yuzukiiii16/ml-course/blob/main/%E3%80%90week2a%E3%80%91%E8%B3%87%E6%96%99%E6%B8%85%E7%90%86_%E7%AC%ACO%E7%B5%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>說明：</h1>
<h3>你需要修改的地方會用底下的標記框出來，請依照註解的提示修改</h3>



```
# ==========================


# ==========================
```

# 資料集：

https://www.kaggle.com/datasets/vrindakallu/new-york-dataset?resource=download

# 匯入處理資料所需的函式庫

In [5]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
import seaborn as sns

# 讀kaggle資料集

In [2]:
# 安裝 kagglehub
!pip install -q kagglehub[pandas-datasets]

In [3]:
# 匯入套件
import kagglehub
from kagglehub import KaggleDatasetAdapter

In [4]:
# 設定要載入的檔案名稱
file_path = "new_york_listings_2024.csv"

# 使用 kagglehub 下載指定的資料集
df = kagglehub.load_dataset(
    KaggleDatasetAdapter.PANDAS,
    "vrindakallu/new-york-dataset",
    file_path,
)

/tmp/ipython-input-2069323496.py:5: DeprecationWarning: Use dataset_load() instead of load_dataset(). load_dataset() will be removed in a future version.
  df = kagglehub.load_dataset(

Downloading from https://www.kaggle.com/api/v1/datasets/download/vrindakallu/new-york-dataset?dataset_version_number=3&file_name=new_york_listings_2024.csv...

100%|██████████| 1.08M/1.08M [00:00<00:00, 62.8MB/s]

Extracting zip of new_york_listings_2024.csv...

# 顯示資料
確認資料是否能正常跑出來

df.head()預設會顯示前 5 行資料，如果想顯示更多，可以在括號內填數字，例如100就會顯示前 100 行資料。

In [6]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,rating,bedrooms,beds,baths
0,1312228,Rental unit in Brooklyn · ★5.0 · 1 bedroom,7130382,Walter,Brooklyn,Clinton Hill,40.683710,-73.964610,Private room,55.0,...,2015-12-20,0.03,1,0,0,No License,5.0,1,1,Not specified
1,45277537,Rental unit in New York · ★4.67 · 2 bedrooms ·...,51501835,Jeniffer,Manhattan,Hell's Kitchen,40.766610,-73.988100,Entire home/apt,144.0,...,2023-05-01,0.24,139,364,2,No License,4.67,2,1,1
2,971353993633883038,Rental unit in New York · ★4.17 · 1 bedroom · ...,528871354,Joshua,Manhattan,Chelsea,40.750764,-73.994605,Entire home/apt,187.0,...,2023-12-18,1.67,1,343,6,Exempt,4.17,1,2,1
3,3857863,Rental unit in New York · ★4.64 · 1 bedroom · ...,19902271,John And Catherine,Manhattan,Washington Heights,40.835600,-73.942500,Private room,120.0,...,2023-09-17,1.38,2,363,12,No License,4.64,1,1,1
4,40896611,Condo in New York · ★4.91 · Studio · 1 bed · 1...,61391963,Stay With Vibe,Manhattan,Murray Hill,40.751120,-73.978600,Entire home/apt,85.0,...,2023-12-03,0.24,133,335,3,No License,4.91,Studio,1,1

# 檢查資料的基本資訊

Non-Null Count：非遺漏值數量

Data Type：資料型態
* int64：整數型資料。
* float64：浮點數型資料。
* object：文字型資料。

In [ ]:
print(df.info())

# 刪除不必要的欄位

In [ ]:
# ==========================
# 請修改以下程式碼
# ==========================
# 說明: 請判斷並填入需要刪除的欄位名稱，如：['column_name1', 'column_name2']
df = df.drop(columns=['column_name1', 'column_name2'])

In [ ]:
df.head()

# 處理非數值資料

bedrooms中的 "studio" 表示開放式空間，沒有獨立臥室。

In [ ]:
# ==========================
# 請修改以下程式碼
# ==========================
# 說明: 請將studio替換為合適的數值
df['______'] = df['______'].replace('______', ______)

In [ ]:
# 檢查是否成功處理
df.head()

將非數值資料轉為數值資料

In [ ]:
labelencoder = LabelEncoder() # LabelEncoder 用於將分類標籤轉換為數值

# ==========================
# 請修改以下程式碼
# ==========================
# 說明: 為每個欄位建立不同的 LabelEncoder。並使用簡單易懂的命名（如 le1、le2 等），如果有多個欄位需要處理，請自行增加編碼器。
編碼器名稱 = LabelEncoder()

# 說明: 將欄位轉換，如果有多個欄位需要處理，請自行增加
df['______'] = ____編碼器名稱__.fit_transform(df['______'])

In [ ]:
df.head()

In [ ]:
# 印出 LabelEncoder 轉換後的對應標籤
def print_label_mapping(encoder, name):
    print(f"{name} 對應：")
    for i, label in enumerate(encoder.classes_):
        print(f"  {i} -> {label}")
    print("")

# ==========================
# 請修改以下程式碼
# ==========================
# 說明: 如果有多個欄位需要處理，請自行增加
print_label_mapping(編碼器名稱, "欄位")

# 清理遺漏值

### rating
在 rating 欄位中，"New" 和 "No rating" 並未提供實際的評分數值，因此可視為缺漏值處理

不考慮直接刪除，因為這些房型依然存在，因此可以使用中位數或平均值取代

In [ ]:
# ==========================
# 請修改以下程式碼
# ==========================
# 檢查為常態還偏態來決定使用中位數還平均值來取代

plt.figure(figsize=(6,4))
sns.histplot(df[''], bins=50, kde=True) # 在 df['']的''中填入要檢查的欄位
plt.title(f"Price Distribution")
plt.show()

In [ ]:
# ==========================
# 請修改以下程式碼
# ==========================
#說明： 請找出有遺漏值或不正常的值的欄位，並使用中位數取代該值

# 欄位轉換為數字，這樣才能順利進行統計分析（如計算平均數、中位數等），並處理可能存在的非數字資料（如字串或錯誤資料），這些會被轉換為 NaN
df['____'] = pd.to_numeric(df['____'], errors='coerce')


# 請用中位數來取代
median_rating = df['____'].____() #計算中位數
df['____'] = pd.to_numeric(df['____'], errors='coerce').fillna(____) #取代

In [ ]:
df.head()

### baths
其中的 “Not specified” 表示該房源未填寫浴室數量，因此可視為資料缺漏。

不考慮直接刪除，因為這些房型依然存在，因此可以使用中位數或平均值取代

In [ ]:
# ==========================
# 請修改以下程式碼
# ==========================
# 檢查為常態還偏態來決定使用中位數還平均值來取代

plt.figure(figsize=(6,4))
sns.histplot(df[''], bins=50, kde=True) # 在 df['']的''中填入要檢查的欄位
plt.title(f"Price Distribution")
plt.show()

In [ ]:
# 將 'baths' 欄位轉換為數字
df['baths'] = pd.to_numeric(df['baths'], errors='coerce')

# ==========================
# 請在以下填入程式碼
# ==========================
# 說明: 請用ＯＯ數來取代baths中的遺漏值

In [ ]:
df.head()

# 刪除極端值

### price

價錢差距太大會影響模型判斷

In [ ]:
# 顯示 price 欄位的基本統計資訊
print(df['price'].describe())

In [ ]:
# 查看房價的百分位數（1%、5%、25%、50%、75%、95%、99%）
print(df['price'].quantile([0.01, 0.05, 0.25, 0.5, 0.75, 0.95, 0.99]))

In [ ]:
# ==========================
# 請修改以下程式碼
# ==========================
# 說明: 移除房價過低或過高的極端值，請根據觀察結果填入範圍
df = df[(df['price'] >= ______) & (df['price'] <= ______)]

In [ ]:
# 檢查是否成功刪除極端值
print(df['price'].describe())

### minimun_nights

In [ ]:
# 顯示 minimum_nights 欄位的基本統計資訊
print(df['minimum_nights'].describe())

In [ ]:
# ==========================
# 請在以下填入程式碼
# ==========================
# 說明: 移除不合理的天數

In [ ]:
# 檢查是否成功刪除極端值
print(df['minimum_nights'].describe())

### availability_365

In [ ]:
# ==========================
# 請在以下填入程式碼
# ==========================
# 說明：請依序完成以下步驟：
# 1. 檢查 minimum_nights 欄位中是否有不合理的數值
# 2. 移除這些不合理的資料
# 3. 再次檢查 minimum_nights，確認是否已成功移除異常值

# 下載處理好的資料

In [ ]:
# ==========================
# 請修改以下程式碼
# ==========================
# 說明: 請將檔案命名，並存為csv檔
# ex.如果你是第 5 組，請填 "5_New_York_Airbnb_Data_2024.csv"

df.to_csv("______", index=False, encoding="utf-8-sig")

In [ ]:
# ==========================
# 請修改以下程式碼
# ==========================
# 說明: 請填入你要下載的檔案的名稱
from google.colab import files
files.download("______")

⭐⭐⭐

請將這份 CSV 檔案上傳到你的 Google Drive，以免之後找不到檔案，又必須重新處理一次。